<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastre-se</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="cadastro" (submit)="cadastrar()">
    <ion-item>
      <ion-input [(ngModel)]="nome" formControlName="nome" type="text" placeholder="Nome" clearInput
        clearOnEdit="false">
      </ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-input mask="000.000.000-00" [(ngModel)]="cpf" formControlName="cpf" type="text" placeholder="CPF" clearInput
        clearOnEdit="false">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="data_nascimento" formControlName="data_nascimento" type="text"
        placeholder="Data de nascimento" clearInput clearOnEdit="false">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input mask="(00) 00009-0000" [(ngModel)]="telefone" formControlName="telefone" type="text"
        placeholder="Telefone" clearInput clearOnEdit="false">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="email" formControlName="email" type="text" placeholder="Email" clearInput
        clearOnEdit="false">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="senha" formControlName="senha" type="password" placeholder="Senha" clearInput
        clearOnEdit="false">
      </ion-input>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-checkbox slot="end" [(ngModel)]="termos_de_uso" formControlName="termos_de_uso">
        </ion-checkbox>
        <ion-label>Aceito os termos de uso</ion-label>
      </ion-item>
    </ion-list> -->

  </form>
  <div class="ion-padding">
    <a [routerLink]="['/termos-de-uso']">Termos de uso</a>
    <ion-button [disabled]="!cadastro.valid" expand="block" type="submit">
      CADASTRE-SE
    </ion-button>
  </div>
</ion-content>