<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Termos de uso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>TERMOS DE USO E DECLARAÇÃO </h3> <br>
  <section>
    <div>
      <span>1.</span> GUEP SOLUÇÕES CORPORATIVAS S/A pessoa jurídica com sede na Av. Andrade Neves, 268 - Vila Helena,
      Santo
      André -
      SP, inscrita no CNPJ sob o nº 19.011.529/0001-39 é proprietária da plataforma e sistemas conjugados cujo domínio e
      acesso via internet é o<a> www.guep.com.br</a>.
    </div>

    <div>
      <span>2.</span> A GUEP SOLUÇÕES CORPORATIVAS S/A também é detentora dos direitos relativos à marca GUEP em fase de
      registro junto
      ao INPI – Instituto Nacional da Propriedade Industrial.
    </div>
    <div>
      <span>3.</span> A GUEP SOLUÇÕES CORPORATIVAS S/A é, por fim, detentora da denominação nome comercial GUEP segundo
      registro na
      Junta Comercial do Estado de São Paulo e demais Juntas Comerciais do Brasil.
    </div>
    <div>
      <span>4.</span> O domínio <a> www.guep.com.br</a>, bem como os aplicativos
      “GPMOBI”,
      “GFRETE”, “GUEPBANK”, SMART
      CONTRACT”, “CIOT” e
      “CTE-EXPRESS” são partes de uma plataforma de intermediação entre pessoas físicas e jurídicas que atuam no setor
      logístico e pessoas interessadas nos mesmos serviços, daqui por diante denominadas “USUÁRIO” ou “USUÁRIOS”,
      independentemente de singular ou plural.
    </div>
    <div>
      <span> 5.</span>
      Ao baixar qualquer um dos aplicativos da GUEP SOLUÇÕES CORPORATIVAS S/A e ao aderir aos termos do presente
      termo,
      o USUÁRIO, aceita e promete cumpri-lo, em sua integralidade, declarando estar de acordo com todos as suas
      condições
      e seus conteúdos conexos.
    </div>
    <div>
      <span>6. </span>Este termo e todas as demais políticas de uso referenciadas neste termo (em conjunto, “Termos de
      Uso” ou “Termo”)
      descrevem os termos e condições sob os quais a GUEP SOLUÇÕES CORPORATIVAS S/A oferece ao USUÁRIO acesso ao
      site <a> www.guep.com.br</a> ou qualquer extensão ou versão da referida página de
      internet e seus conteúdos, para acesso
      por
      telefonia móvel ou aplicativos para smartphone disponibilizados pela GUEP SOLUÇÕE CORPORATIVAS S/A.
    </div>
    <div>
      <span>7.</span> Ao utilizar os aplicativos disponibilizados pela GUEP SOLUÇÕES CORPORATIVAS S/A, o usuário
      autoriza a captura de
      informações como: dados do IMEI do celular ou smartphone, fotos pessoais, foto da CNH, foto do comprovante de
      residência, dados bancários e documentos fiscais, sendo que as referidas informações serão utilizadas, tão
      somente,
      para o cumprimento deste, respeitada a Lei Geral de Proteção de Dados.
    </div>
    <div>
      <span>8.</span> A plataforma disponibiliza e executa intermediação de serviços entre as partes previamente
      cadastradas, podendo
      ser embarcadores, motoristas ou transportadores. <br>
    </div>
    <div>
      <span>9. </span> O USUÁRIO (motorista), ao utilizar a plataforma, autoriza expressamente a GUEP SOLUÇÕES
      CORPORATIVAS S/A a
      realizar pesquisa de perfil securitário com os parâmetros determinados pela empresa contratante, respeitados os
      preceitos contidos na Lei Geral de Proteção de Dados. <br>
    </div>
    <div>
      <span>10.</span> Apenas as pessoas físicas maiores de 18 (dezoito) anos de idade estão autorizadas a preencher
      o cadastro no
      website e/ou aplicativo, e expressamente anuem aos termos aqui contidos, outorgando a plena e inquestionável
      compreensão e aceitação das condições expostas. <br>
    </div>
    <div>
      <span>11.</span> O USUÁRIO deve preencher seu cadastro específico disponibilizado no website e/ou aplicativo,
      garantindo a
      veracidade das informações, concordando, desde já, em fornecer informações verídicas, precisas, completas e
      atualizadas sobre si mesmo ou sobre as pessoas a ela vinculadas, conforme solicitado no formulário de cadastro, e
      de
      atualizá-las sempre que necessário. A GUEP SOLUÇÕES CORPORATIVAS S/A não está obrigada a fiscalizar ou controlar a
      veracidade das informações fornecidas pelo USUÁRIO, mas se reserva o direito de fazer uma análise formal das
      informações apresentadas pelo mesmo através de pesquisas independentes. <br>
    </div>
  </section>


</ion-content>